.color-white {
  color: theme_text_color("white");
}
.color-green {
  color: theme_text_color("green");
}
.color-dark {
  color: theme_text_color("dark");
}
.color-greydark {
  color: theme_text_color("greydark");
}
.color-black {
  color: theme_text_color("black");
}
