//===================== Fonts Roboto ==========================

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("TrueType");
  font-weight: 600;
  font-display: swap;
}

// ===================== Fonts SourceSansPro ====================

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/SourceSansPro-ExtraLight.ttf") format("TrueType");
  font-weight: 275;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/SourceSansPro-Light.ttf") format("TrueType");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/SourceSansPro-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/SourceSansPro-SemiBold.ttf") format("TrueType");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/SourceSansPro-Bold.ttf") format("TrueType");
  font-weight: 600;
  font-display: swap;
}

// ===================== Fonts BaskervilleCir ====================

@font-face {
  font-family: "BaskerCir";
  src: url("/assets/fonts/baskerCyr/BaskervilleCyrLTStd-Incline.ttf") format("TrueType");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BaskerCir";
  src: url("/assets/fonts/baskerCyr/BaskervilleCyrLTStd-Bold.ttf") format("TrueType");
  font-weight: 600;
  font-display: swap;
}

// ======================== Noir-pro ========================

@font-face {
  font-family: "Noir-pro";
  src: url("/assets/fonts/noir-pro/noir-pro-bold.ttf") format("TrueType");
  font-weight: 600;
  font-display: swap;
}

// ======================== Lato ========================

@font-face {
  font-family: "Lato-italic";
  src: url("/assets/fonts/lato-italic/lato-italic.ttf") format("TrueType");
  font-weight: 400;
  font-display: swap;
}

// ======================== End fonts ========================